apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-operator-crd
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  destination:
    server: {{ .Values.cluster }}
  project: {{ .Values.project }}
  source:
    helm:
      valueFiles:
      - values.yaml
    repoURL: 'usedevpdxinfraacr1.azurecr.io'
    targetRevision: 0.1.0
    chart: helm/prometheus-operator-crd

  syncPolicy:
    syncOptions:
    - ServerSideApply=true

    automated:
      selfHeal: true
      prune: true
