apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    namespace: monitoring
    server: {{ .Values.cluster }}
  project: {{ .Values.project }}
  source:
    helm:
      valueFiles:
      - values.yaml
    repoURL: 'https://github.com/prometheus-community/helm-charts.git'
    targetRevision: prometheus-15.10.1
    path: charts/prometheus/

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
