apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: {{ .Values.cluster }}
  project: {{ .Values.project }}
  source:
    helm:
      valueFiles:
      - values.yaml
    repoURL: 'https://prometheus-community.github.io/helm-charts'
    targetRevision: 15.10.1
    chart: prometheus

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
