apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gatekeeper
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  project: {{ .Values.project }}

  source:
    repoURL: 'usedevpdxinfraacr1.azurecr.io'
    targetRevision: 3.9.0-beta.2
    chart: helm/gatekeeper
    helm:
      valueFiles:
      - values.yaml

  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      name: gatekeeper-validating-webhook-configuration
      jqPathExpressions:
        - .webhooks[].namespaceSelector.matchExpressions[] | select(.key == "control-plane")
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      name: gatekeeper-mutating-webhook-configuration
      jqPathExpressions:
        - .webhooks[].namespaceSelector.matchExpressions[] | select(.key == "control-plane")
  destination: 
    server: {{ .Values.cluster }}
    namespace: gatekeeper

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
