apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    namespace: monitoring
    server: {{ .Values.cluster }}
  project: {{ .Values.project }}
  source:
    helm:
      valueFiles:
      - prom-values.yaml
    repoURL: 'usedevpdxinfraacr1.azurecr.io'
    targetRevision: 32.2.1
    chart: helm/kube-prometheus-stack

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
